@model MinecControlReport.Models.goal

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>goal</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.KpiId, "kpi")
        </div>
        <div class="editor-field">
            @Html.DropDownList("KpiId", String.Empty)
            @Html.ValidationMessageFor(model => model.KpiId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-label" >
            @Html.TextBoxFor(model => model.StartDate, new { @class = "datepicker", @type="date"})
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndDate, new { @class = "datepicker_end", @type="date"})
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>
        <div id="startdate" >teste</div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<table id="Deals">
    <tr>
        <td>id</td>
        <td>nome</td>
        <td>teste</td>
        <td>tese2</td>
    </tr>
     <tr>
        <td>123</td>
         <td>sdf</td>
         <td>fsafddsf</td>
         <td>asdf</td>
    </tr>
     <tr>
        <td>123</td>
         <td>sadf</td>
         <td>asdfasdf</td>
         <td>adsfdf</td>
    </tr>
     <tr>
        <td>213</td>
         <td>adsf</td>
         <td>afadsfaf</td><td>asdfdsaf</td>
    </tr>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
   
}
