@model MinecControlReport.Models.goal

@{
    ViewBag.Title = "Delete";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            </br>
            <hgroup class="title">

                <h3>Remover Meta</h3>
            </hgroup>
            </br>
        </div>
    </section>
}


<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>goal</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.kpi.KpiName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.kpi.KpiName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
