@model MinecControlReport.Models.goal

@{
    ViewBag.Title = "Details";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            </br>
            <hgroup class="title">

                <h3>Detalhes de Metas </h3>
            </hgroup>
            </br>
        </div>
    </section>
}


<fieldset>
    <legend>goal</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.kpi.KpiName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.kpi.KpiName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
