@model MinecControlReport.Models.goal

@{
    ViewBag.Title = "Edit";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            </br>
            <hgroup class="title">

                <h3>Editar Metas </h3>
            </hgroup>
            </br>
        </div>
    </section>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>goal</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.KpiId, "kpi")
        </div>
        <div class="editor-field">
            @Html.DropDownList("KpiId", String.Empty)
            @Html.ValidationMessageFor(model => model.KpiId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate,"{0:dd/MM/yyyy}", new { @class = "datepicker", @type="date"})
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndDate,"{0:dd/MM/yyyy}", new { @class = "datepicker_end", @type="date"})
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
   
}

