<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Mine Control Repots</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
       
        <meta name="viewport" content="width=device-width" />
       
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
     
        @Styles.Render("~/Content/bootstrap")
    
    </head>
    <body>
        <header>


            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Mining Control", "Index", "Home")  <span style="color:#FFCB08">Report</span>           </p>
                </div> 
                <div class="float-right"><p class="site-title"> @DateTime.Now.ToString()</p>  </br>
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div><p> &nbsp;</p>
                <div class="float-right">
                    <nav>
                        <div class="drop">
                            @{Html.RenderAction("MenuList", "Home");}
                        </div>
                    </nav>
                </div>
                
            </div>
        </header><p> &nbsp;</p>
        <div id="body"><p> &nbsp;</p>
            @RenderSection("featured", required: false) 
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

     
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Mining Control Report</p>
                </div>
            </div>
        </footer>
        
        @Scripts.Render("~/bundles/jquery")
        
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
        
    </body>
</html>
