@model MinecControlReport.Models.menuReport

@{
    ViewBag.Title = "Index";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            </br>
            <hgroup class="title">

                <h3>Detalhes de Menu de Reports </h3>
            </hgroup>
            </br>
        </div>
    </section>
}


<fieldset>
    <legend>menuReport</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.menu.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.menu.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Link)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Link)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Order)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
